.navbar-collapse{
	background-color: #088A08 !important;
	color: white;
}
#img-fondo{
	background-image: url('../img/carousel-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.fondo-azul{
	background-color: #170B3B;
}
.imagen{
	width: 70%;
	margin-left: 3em;
	padding-bottom: 3em;
}
.white{
	width: 15%;
}
.black{
	width: 15%;
	border-color: black;
}
.tamano{
	font-size: 50px;
	color: white;
}
.mb{
	margin-bottom: 2em;
	margin-left: 3em;
	color: white;
}
.letra{
	color: white;
	font-size: 20px;
	margin-left: 3em;
	margin-right: 3em;
	padding-bottom: 3em;
}
.letrero{
	color: white;
	padding-top: 1em;
}
.font-size{
	font-size: 50px;
}
.verde{
	background-color: #04B486;
}
.img{
	margin-left: 9em;
}
.gray{
	color: #BDBDBD;
	margin-left: 2em;
}
.pb{
	padding-top: 5em;
}
.pt{
	background-color: #170B3B;
	color:white;
	padding: 0.3em 1em ;
	margin-left: 36em;
}
.nina{
	margin-left: 2em;
}
i{
	color: gray;
	padding-bottom: 7em;
}
.mov{
	margin-left: 4em;
}
.pat{
	margin-top: 3em;
}
.cja{
	border-style: solid;
	border-color: #088A08;
	margin-top: 3em;
}
.marron{
	background-color: #8A2908;
	color: white;
	padding: 2em;
}
.blanco{
	background-color: white;
	color: black;
}
.signo{
	background-color: #04B486;
	color: white;
}
.cafe{
	background-color: #B45F04;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 7em;
	padding: 1% 2%;
}
.cjaa{
	border-style: solid;
	border-color: #B45F04;
}
.sin{
	color: white;
	padding: 2em;
}
h5{
	color:  #B45F04;
}
.ml{
	margin-left: 15em;
	margin-right: 15em;
}
.form-group{
	width: 60% !important;
	padding-left: 15em;
}